.category {
    width: 9em;
    height: 9em;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    margin: 0.5em;
}

.habit {
    width: 8em;
    height: 8em;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    margin: 1em;
}

.btn-circle {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 12px;
    text-align: center;
}

.category-link {
    text-decoration: none;
}

.item-danger {
    color: red;
}