<ng-container *ngIf="currentCategory$ | async as currentCategory; else loading">
    <nav class="navbar">
        <div class="container-fluid">
            <span>
                <span *ngFor="let crumb of breadCrumbs$ | async" class="pe-1">/ {{crumb.name}}</span>
            </span>
        </div>
    </nav>
    <div class="d-flex flex-row flex-wrap mt-3">
        <mat-card class="category" *ngIf="this.parentCategory$ | async as parentCategory"
            (click)="back(parentCategory.id!)">
            <mat-icon fontIcon="arrow_upward"></mat-icon>
            <div>{{ currentCategory.name }}</div>
        </mat-card>
        <a class="category-link"
            [routerLink]="['/habits', category.id, category.name]"
            *ngFor="let category of subCategories$ | async"
            (contextmenu)="onCategoryRightClick($event, category)"
        >
            <mat-card class="category">
                <div>{{category.name}}</div>
            </mat-card>
        </a>
        <mat-card class="habit"
            *ngFor="let habit of habits$ | async"
            (click)="clickHabit(habit)"
            (contextmenu)="onHabitRightClick($event, habit)"
            [matBadge]="habit.numInstancesToday"
            [matBadgeHidden]="habit.numInstancesToday == 0"
        >
            <div>{{habit.name}}</div>
        </mat-card>
        <mat-card id="add-button" class="habit" (click)="addHabitClick(currentCategory)">
            +
        </mat-card>
    </div>
</ng-container>

<ng-template #loading>
    Loading...
</ng-template>

<!-- Use a hidden div to make the habit right-click menu appear in the correct location --> 
<div style="visibility: hidden; position: fixed;" 
    [style.left]="menuTopLeftPosition.x"
    [style.top]="menuTopLeftPosition.y"
    [matMenuTriggerFor]="habitContextMenu"></div> 

<!-- Habit context menu -->
<mat-menu #habitContextMenu="matMenu"> 
  <ng-template matMenuContent let-data="data">
    <ng-container *ngIf="data.type == 'Category'">
        <button mat-menu-item (click)="editHabit(data.habit)">Edit</button>
    </ng-container>
    <ng-container *ngIf="data.type == 'Habit'">
        <button mat-menu-item (click)="editCategory(data.category)">Edit</button>
        <button mat-menu-item [disabled]="data.habit.numInstancesToday == 0" (click)="removeLastInstance(data.habit)">Remove Last Instance</button>
    </ng-container>
  </ng-template> 
</mat-menu> 