@import '../theme';

.mat-toolbar-single-row {
    height: auto;
    padding: 5px 16px;
    min-height: 36px;
}

.brand {
    text-decoration: none;
    color: white;
}

.mat-sidenav-container{
    min-height: 93vh !important;
}

mat-sidenav {
    width: 50vw;
}