<div *ngIf="pageParams$ | async as pageParams" class="mt-3">
    <div *ngIf="pageParams.displayMode == 'week'" class="row g-xl-2">
        <div class="col-xl day-card" *ngFor="let day of instances$ | async">
            <ng-container
                [ngTemplateOutlet]="dayTemplate"
                [ngTemplateOutletContext]="{ day: day }"
            ></ng-container>
        </div>
    </div>
    <div *ngIf="pageParams.displayMode == 'day'" class="container">
        <ng-container *ngFor="let day of instances$ | async"
            [ngTemplateOutlet]="dayTemplate"
            [ngTemplateOutletContext]="{ day: day }"
        ></ng-container>
    </div>

    <button mat-fab id="move-left-button" (click)="previous$.next()">
        <mat-icon>chevron_left</mat-icon>
    </button>
    <button mat-fab id="move-right-button" (click)="next$.next()">
        <mat-icon>chevron_right</mat-icon>
    </button>
</div>

<ng-template #dayTemplate let-day="day">
    <mat-card class="day-card">
        <mat-card-title><h4>{{ day.date | date: 'EEEE' }}</h4></mat-card-title>
        <mat-card-subtitle>{{ day.date | date: 'shortDate' }}</mat-card-subtitle>

        <div *ngFor="let habit of day.habits" class="habit">
            {{ habit.habitName ?? '?' }}
            {{ habit.instanceDate | date: 'shortTime' }}
        </div>
    </mat-card>
</ng-template>