<ng-container *ngIf="currentCategory$ | async as currentCategory; else loading">
    <nav class="navbar">
        <div class="container-fluid">
            <span>
                <span *ngFor="let crumb of breadCrumbs$ | async" class="pe-1">/ {{crumb.name}}</span>
            </span>
        </div>
    </nav>
    <div class="d-flex flex-row flex-wrap mt-3">
        <mat-card class="category" *ngIf="this.parentCategory$ | async as parentCategory"
            (click)="back(parentCategory.id!)">
            <mat-icon fontIcon="arrow_upward"></mat-icon>
            <div>{{ currentCategory.name }}</div>
        </mat-card>
        <a class="category-link" [routerLink]="['/habits', category.id, category.name]"
            *ngFor="let category of subCategories$ | async">
            <mat-card class="category">
                <div>{{category.name}}</div>
            </mat-card>
        </a>
        <mat-card class="habit" *ngFor="let habit of habits$ | async" (click)="clickHabit(habit)">
            <div>{{habit.name}}</div>
        </mat-card>
        <mat-card id="add-button" class="habit" (click)="addHabitClick()">
            +
        </mat-card>
    </div>
</ng-container>

<ng-template #loading>
    Loading...
</ng-template>

<ng-template #addModal>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Modal</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef!.hide()">
            <span aria-hidden="true">x</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="addHabitForm">
            <div class="mb-2">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" id="itemType-category" value="category"
                        formControlName="category">
                    <label class="form-check-label" for="itemType-category">Category</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" id="itemType-habit" value="habit" checked="checked"
                        formControlName="category">
                    <label class="form-check-label" for="itemType-habit">Habit</label>
                </div>
            </div>
            <div class="mb-2">
                <label for="name">Name</label>
                <input type="text" class="form-control" formControlName="name" />
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="modalRef!.hide()">Close</button>
        <button type="button" class="btn btn-primary">Save</button>
    </div>
</ng-template>