.category {
    width: 6em;
    height: 6em;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    margin-left: 1em;
}

.habit {
    width: 5em;
    height: 5em;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    margin-left: 1em;
}

.btn-circle {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 12px;
    text-align: center;
}