// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

@import 'theme';

@mixin body-theme($theme) {
    $_color-config: mat.get-color-config($theme);
    $_background: map-get($_color-config, background);
    $app-background-color: mat.get-color-from-palette($_background, background);

    body {
        background-color: $app-background-color;
    }
}

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($habits-theme);
@include body-theme($habits-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

@media only screen {
    .mat-dialog-md {
        width: 50vw;
    }
}

@media only screen and (max-width: 760px) {
    .mat-dialog-md {
        width: 80vw;
    }
}


.mat-form-field {
    width: 100%;
}