@use '@angular/material' as mat;

$habits-primary: mat.define-palette(mat.$blue-palette, 500);
$habits-accent: mat.define-palette(mat.$teal-palette, A200, A100, A400);

$habits-warn: mat.define-palette(mat.$red-palette);

// default theme:
// $habits-primary: mat-palette($mat-blue,800);
// $habits-accent: mat-palette($mat-teal);

// $habits-warn: mat-palette($mat-red);

$habits-theme: mat.define-dark-theme((
  color: (
    primary: $habits-primary,
    accent: $habits-accent,
    warn: $habits-warn,
  )
));

// $color-primary: mat.color($habits-primary);
// $color-accent: mat.color($habits-accent);